# Sora iOS SDK のセットアップ
# Sora iOS SDK を使用するには、以下のフレームワークをCartfileに記述する必要があります。
github "shiguredo/sora-ios-sdk" "2.4.0"
github "shiguredo/sora-webrtc-ios" "76.3.0"
github "shiguredo/SocketRocket" "0.5.1-carthage.1"
